/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.top
h1 {
  padding: 15px;
  font-size: x-large;
 }
 p {
 	padding-left: 40px;
 	line-height: 4;
 	font-size: small;
 }

 .index
 h2 {
 	padding-left: 30px;
 }

table {
	padding-left: 30px;
}
thead {
	font-size: small;

}

tbody {
	font-size: small;

}

section {
	padding-left: 30px;
}
h4 {
	font-size: small;

}

.show
h5 {
	padding-left: 30px;
}

section {
	padding-left: 20px;
}

.edit
section{
	padding-left: 30px;
}